<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Vue Basics</title>
</head>
<body>
  <div id="app">
    <div class="nav-bar"></div>

    <div class="product">

      <div class="product-image">
        <a :href="url">
          <img :src="image" :alt="altName">
        </a>
      </div>

      <div class="product-info">
        <h1>{{title}}</h1>

        <p>{{description}}</p>
        <p v-if="inventory > 10"
           :style="{backgroundColor: '#84CF6A'}"
          >Available</p>
        <p v-else-if="inventory <= 10 && inventory > 0"
          :style="{backgroundColor: 'yellow'}"
          >Less than 10 spots available!</p>
        <p v-else
           :style="{textDecoration: 'line-through', backgroundColor: 'red'}"
        >Not available</p>

        <span v-if="onSale">On sale!</span>

        <ul>
          <li v-for="detail in details">{{detail}}</li>
        </ul>

        <div class="color-box" 
            v-for="(variant, index) in variants" 
            :key="variant.variantID"
            :style="{backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(index)"
        >
        </div>

        <ul>
          <li v-for="size in sizes">{{size}}</li>
        </ul>

        <button @click="addToCart"
                :disabled ="!onSale"
                :class="{disabledButton: !onSale}"
        >Add to Cart</button>

        <button @click="removeFromCart" 
                :disabled = "cart == 0"
                :class="{disabledButton: cart == 0}"
        >Remove</button>

        <div class="cart">
          <p>Cart( {{cart}} )</p>
        </div>
      </div>

    </div>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>